* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #eaeaea;
}

a {
  color: #000;
  text-decoration: none;
}

.header {
  height: 100vh;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  color: #fff;
  text-align: center;
  margin: auto;
  font-size: 1.8rem;
  background-image: linear-gradient(
      to right bottom,
      rgba(0, 0, 0, 0.5),
      rgba(0, 0, 0, 0.5)
    ),
    url("./images/header.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.header-h1 {
  padding: 1rem;
  letter-spacing: 3px;
}

.header-a {
  letter-spacing: 1px;
  border-radius: 15px;
  padding: 0.3rem;
  font-size: 1.2rem;
  background-color: rgba(5, 107, 79, 0.9);
  color: #f5cb04;
  border: 2px solid #000;
}
